<h3 style="margin-top: 10px;">Insert page</h3>
<hr>
<form class="form" style="margin-top: 10px;">
    <div class="mb-3">
        <label for="data0" class="form-label">Data 0</label>
        <input class="form-control" id="data0" placeholder="Enter data">
    </div>
    <div class="mb-3">
        <label for="data1" class="form-label">Data 1</label>
        <input class="form-control" id="data1" placeholder="Enter data">
    </div>
    <div class="mb-3">
        <label for="data2" class="form-label">Data 2</label>
        <input class="form-control" id="data2" placeholder="Enter data">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Insert</button>
    </div>
</form>